<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="UTF-8">
        <title>Kanbo</title>
        <link rel="stylesheet" href="{{ STATIC_URL}}style/base.css" type="text/css">
    </head>
    <body>
        <header>
            <h1>Kanbo</h1>
        </header>
        <div id="all">
            <div id="main">
                <section id="about">
                    <h2>About Kanbo</h2>
                    <p>Any fool can create a task-list web app. Here’s mine.</p>
                    <p class="hero-link">
                        <a href="{% url story-grid board_id=1 col_name="state" %}">Try the demonstration story grid</a>
                    </p>
                    <p>
                        Project-management styles variously calling themselves Agile, Lean,
                        Scrum, and so on inspired by Toyota’s Kanban method want to
                        arrange cards representing <i>stories</i> on a board.
                    </p>
                    <p>
                        On the board, columns represent stages in the story’s life cycle
                        (variously called states, bins, queues, backlogs).
                        Stories start in the project backlog, are moved
                        in to the <i>In Progress</i> bin, and
                        eventually—we hope—end up in the <i>Completed</i> bin.
                    </p>
                    <p>
                        The board may optionally be divided in to horizontal rows to
                        show individual projects, devlopers, or iterations (also called sprints).
                    </p>
                </section>
                <section id="status">
                    <h2>Status</h2>
                    <p>
                        This is a work in progress.
                        For now there is a demo board for you to play on, but
                        no way to create your own board. And Ihave some way to go before the
                        story-grid user-interface itself is complete.
                    </p>
                </section>
                <section id="boards">
                    <p>
                        <a href="{% url board_list %}">Boards</a>
                    </p>
                </section>
            </div>
            <div id="asides">
                <aside>
                    <ul>
                        <li>
                            <a href="https://github.com/pdc/kanbo">Code on GitHub</a>
                        </li>
                    </ul>
                </aside>
            </dv>
        </div>
    </body>
</html>