<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Kanbo{% endblock %}</title>
        <link rel="stylesheet" href="{{ STATIC_URL}}style/base.css" type="text/css">
    </head>
    <body>
        <header>
            <p id="trail">
                <a href="{% url home %}" class="wordmark">Kanbo</a> <span>></span>
                {% block trail %}{% endblock %}
            </p>
        </header>
        <div id="all">
            <div id="main">
                {% block main %}{% endblock %}
            </div>
            <div id="asides">
                <aside>
                    <ul>
                        <li>
                            <a href="https://github.com/pdc/kanbo">Code on GitHub</a>
                        </li>
                    </ul>
                </aside>
                {% block asides %}{% endblock %}
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>