@import url("../fonts/goudy-bookletter-1911/stylesheet.css");
@import url("../fonts/sorts-mill-goudy/stylesheet.css");

/*
Pale #FFFAE4
Yellow #E9B955
Blue #007F88
Red #D67353
*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 81.25%; /* If default is 16px this makes 13px */
    font-family: "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    line-height: 1.38; /* If default is 16px then this is 18px */
    color: #331;
    background: #FFFAE4;
}

header {
    background: #007F88;
    color: #FFFAE4;
    padding: 10px 0 0 ;
}

.polling>header {
    background: #007F88 url(ajax-loading-blue.gif) 100% 50% no-repeat;
}

header a:link,
header a:visited {
    color: #FFFAE4;
    text-decoration: none;
}

header a:hover,
header a:active {
    color: #FFF;
    text-decoration: underline;
}

.wordmark,
header h1,
section h1,
section h2,
header  #board-name {
    line-height: 1;
    font-family: "GoudyBookletter1911Regular", serif;
    font-weight: normal;
}

.wordmark,
section h1,
section h2  {
    font-family: "GoudyBookletter1911Regular", serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

header #trail  {
    background: url(logo-31x21.png) 0 0 no-repeat;
    padding: 6px 0 0 40px;
    margin: 0 10px 10px;
}

header  #board-name {
    font-size: 2em;
    margin: 0.25em 0 0.5em 50px;
}

header h1 {
    font-size: 2em;
    margin: 1em 10px 0.5em;
}

#tabs {
    float: left;
    margin: 0 0 0 50px;
    padding: 0;
}

#tabs li {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#tabs li a,
#tabs li strong {
    float: left;
    display: block;
    min-width: 140px;
    margin: 0;
    padding: 0.5em 9px;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
}

#tabs li a {
    color: #222;
    background-color: #D67353;
    border: 1px outset #D67353;
    border-bottom: 1px inset #832;
}
#tabs li a:hover,
#tabs li a:active {
    color: #333;
    background-color: #FFFAE4;
    border: 1px outset #FFFAE4;
    border-bottom: 1px inset #887;
}
#tabs li strong,
#tabs li a.active {
    color: #333;
    background-color: #FFFAE4;
    border: 1px outset #FFFAE4;
    border-bottom: 1px solid #FFFAE4;
}

header::after {
    display: block;
    clear: both;
    margin: 0;
    height: 0;
    overflow: none;

    content: ".";
}

#all {
    width: 960px; /* 12u */
    margin: 0 auto;
}

ul.messages {
    width: 640px;
    float: left;
    margin: -0.7em 0 1.4em 0;
    position: relative;

    background-color: #FFF;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px;
}

.messages li {
    margin: 0.7em 10px;
    padding: 0 0 0 40px;
    height: 32px;

    list-style-type: none;
    background-image: url(message-32w.png);
    background-position: left top;
    background-repeat: no-repeat;
}

.messages li.warning {
    background-position: left -32px;
}

.messages li.error {
    background-position: left -64px;
}

.messages a {
    display: block;
    position: absolute;
    right: 4px;
    top: 4px;
    height: 12px;
    width: 12px;
    overflow: hidden;

    text-indent: -1000px;
    background: url(close.png) right top no-repeat;
}

section {
    display: block;
    float: left;
    width: 240px;
    margin-top: 1px;
    padding-top: 1px;
}

section.main {
    width: 480px; /* 6u */
}

#about {
    width: 400px;
    font-size: 1.23em;
    font-family: "SortsMillGoudyRegular", serif;
    line-height: 1.4;
}

#about i,
#about em {
    font-family: "SortsMillGoudyItalic", serif;
}

#status {
    font-size: 1.23em;
    color: #D67353;
    font-weight: bold;
}

#board {
    width: auto;
    clear: both;
}

section h1 {
    font-size: 2em;
    margin: 1em 10px 0.5em;

    color: #D67353;
}

section h2 {
    font-size: 1.44em;
    margin: 1.75em 10px 0.5em;

    color: #D67353;
}


section .menu {
    float: left;
    margin: 0.7em 10px;
    padding: 0;
    background-color: rgba(233, 137, 85, 0.25);
}

section .menu li {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*[[[cog
def gradient(params):
    for prefix in ['', '-o-', '-ms-', '-moz-', '-webkit-']:
        cog.outl('background: {0}linear-gradient({1});'.format(prefix, params))
]]]*/
/*[[[end]]]*/

section .menu a {
    display: block;
    float: left;
    margin: 0;
    padding: 1px 10px;

    /*[[[cog gradient('bottom, #F4CF80 0%, #F4D99F 20%, #FFFAE4 66%') ]]]*/
    background: linear-gradient(bottom, #F4CF80 0%, #F4D99F 20%, #FFFAE4 66%);
    background: -o-linear-gradient(bottom, #F4CF80 0%, #F4D99F 20%, #FFFAE4 66%);
    background: -ms-linear-gradient(bottom, #F4CF80 0%, #F4D99F 20%, #FFFAE4 66%);
    background: -moz-linear-gradient(bottom, #F4CF80 0%, #F4D99F 20%, #FFFAE4 66%);
    background: -webkit-linear-gradient(bottom, #F4CF80 0%, #F4D99F 20%, #FFFAE4 66%);
    /*[[[end]]]*/
    color: inherit;
    text-decoration: none;
    border: 1px outset #888;
}

section .menu a.disabled {
    color: #999;
    /*[[[cog gradient('top, #F4CF80 0%, #F4D99F 20%, #FFFAE4 66%') ]]]*/
    background: linear-gradient(top, #F4CF80 0%, #F4D99F 20%, #FFFAE4 66%);
    background: -o-linear-gradient(top, #F4CF80 0%, #F4D99F 20%, #FFFAE4 66%);
    background: -ms-linear-gradient(top, #F4CF80 0%, #F4D99F 20%, #FFFAE4 66%);
    background: -moz-linear-gradient(top, #F4CF80 0%, #F4D99F 20%, #FFFAE4 66%);
    background: -webkit-linear-gradient(top, #F4CF80 0%, #F4D99F 20%, #FFFAE4 66%);
    /*[[[end]]]*/
}

section .menu a:hover,
section .menu a:active {
    text-decoration: underline;
    /*[[[cog #gradient('bottom, rgb(233,186,85) 5%, rgb(255,250,228) 75%') ]]]*/
    /*[[[end]]]*/
}

section .menu a.disabled:hover,
section .menu a.disabled:active {
    text-decoration: none;
}


.menu+p {
    clear: both;
}

section p {
    margin: 0.7em 10px;
}

section li {
    margin: 0.7em 10px 0.7em 30px;
}

.card-bin {
    width: 239px;
    min-height: 120px;
    border-right: 1px dotted #D67353;
}

.card-bin li {
    margin: 0.3em 10px 0.4em 9px;
    padding: 0.3em 9px;
    height: 5em;
    overflow: hidden;

    list-style-type: none;
    background: #E9B955;
    border: 1px outset #E9B955;
    border-radius: 0.35em;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 5px;
}
.card-bin li.ui-sortable-helper {
    box-shadow: rgba(0, 0, 0, 0.5) 4px 4px 9px;
}
.card-bin li.ajax-loading {
    background: url(ajax-loading.gif) -4px 4px no-repeat;
    background:  url(ajax-loading.gif) 98% 4px no-repeat, #E9B955;
}

.card-bin b {
    font-size: 2.1em;
    display: block;
    float: left;
    margin:  0 10px 0 0;

    line-height: 1;
    font-weight: 200;
}
.card-bin q {
    display: block;
    font-weight: bolder;
}

.card-bin q::before,
.card-bin q::after {
    content: none;
}

/* Cards are links for the sake of non-JS editong */
.card-bin a {
    display: block;
    color: inherit;
    text-decoration: none;
}

.no-js .card-bin a:hover q,
.no-js .card-bin a:active q {
    color: #D67353;
    text-decoration: underline;
}

#card-grid {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

#card-grid th {
    padding: 0 10px;

    text-align: left;
    vertical-align: baseline;
    line-height: 1;
    font-family: "GoudyBookletter1911Regular", serif;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
#card-grid td {
    vertical-align: top;
    text-align: left;
}

section form {
    margin: 1.4em 0;
    padding: 9px;

    /* background: rgba(0, 127, 136, 0.25); */
    background-color: rgba(233, 137, 85, 0.25);
    border: 1px inset rgba(233, 137, 85, 0.25);
    border-radius: 0.7em;
}

form>p {
    margin: 0 0 0.35em 0;
}

form>div {
    padding: 0.35em 0;
}

 form .buttons {
    margin: 0.7em 0 0;
}

.main form .buttons {
    margin: 0.7em 0 0 160px;
}

form .has-errors {
    /* background-color: rgba(233, 137, 85, 0.5); */
}

.main form label {
    float: left;
    margin: 0 20px 0 0;
    width: 140px;

    text-align: right;
}

form small {
    font-size: 0.85em; /* If the main size is 13px this is 11px */
    display: block;
    margin: 0.3em 0 0 0;

    line-height: 1.2;
}

form .errorlist {
    margin: 0;
    color: #D67353;
}

form .errorlist li {
    margin: 0.15em 0 0;
}

.main form small,
.main form .errorlist {
    margin-left: 160px;
}

input[type="text"] {
    width: 296px;
}

input[maxlength="50"] {
    width: 136px;
}


section form#new-card-form {
    margin: 1.4em 10px;
    padding: 0 9px;

    border: 1px outset #E9B955;
    border-radius: 0.35em;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 5px;
}

#new-card-form label {
    display: block;
    color: rgba(0, 0, 0, 0.5);
}

#new-card-form small {
    display: none;
}

#new-card-form :hover small {
    position: absolute;
    display: block;
    padding: 0.3em 5px;

    background: #FFF;
    border: 1px solid #007F88;
}

#new-card-form input[type="text"] {
    width: 196px;
}
#new-card-form .buttons {
    margin: 0 0 0.35em 0;
}

aside li {
    margin: 0.7em 10px;
}

#auth {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1px 0;

    background-color: rgba(0, 0, 0, 0.5);
    color: #CCC;
    border-bottom-left-radius: 10px;
}

#auth a {
    color: #CCC;
}

#auth a:hover,
#auth a:active {
    color: #FFF;
}

#auth img.userpic {
    display: inline;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    vertical-align: -25%;
}

#auth p {
    margin: 0.615em 10px;
}

#auth i {
    font-style: inherit;
}

#login-form ul {
    margin: 1.23em 10px;
    padding: 0;
}

#login-form li {
    margin:  0.615em 0;
    list-style-type: none;
}

#login-form a {
    display: block;
}

.log-in-with-twitter a {
    display: block;
    width: 151px;
    height: 24px;

    text-indent: -9999px;
    background: url(auth-twitter.png) no-repeat;
}

.log-in-with-github a {
    font-size: 12px;
    display: block;
    width: 120px;
    height: 16px;
    padding: 3px 0 3px 26px;

    line-height: 16px;
    font-weight: bold;
    color: #333;
    text-shadow: #FFF 1px 1px 2px;
    text-decoration: none;
    background: whiteSmoke url(auth-github.png) 4px 50% no-repeat;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px outset #DDD;
    border-radius: 3px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .log-in-with-github a {
        background-image: url(auth-github-2x.png);
        background-size: 16px 16px;
    }
}

/* Adjustments for different width screens */

@media screen and (min-width: 1240px) {
    #all {
        width: 1200px; /* 15u */
    }
}

@media screen and (min-width: 1480px) {
    #all {
        width: 1440px; /* 18u */
    }
}

@media screen and (min-width: 1960px) {
    #all {
        width: 1920px; /* 24u */
    }
}
