@import url("../fonts/goudy-bookletter-1911/stylesheet.css");
@import url("../fonts/sorts-mill-goudy/stylesheet.css");

/*
Pale #FFFAE4
Yellow #E9B955
Blue #007F88
Red #D67353
*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 81.25%; /* If default is 16px this makes 13px */
    font-family: "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    line-height: 1.38; /* If default is 16px then this is 18px */
    color: #331;
    background: #FFFAE4;
}

header {
    background: #007F88;
    color: #FFFAE4;
    padding: 10px;
}

.polling>header {
    /* XXX replace this with a spinner in the header */
    background: #007F88 url(ajax-loading.gif) 100% 50% no-repeat;
}

header a:link,
header a:visited {
    color: #FFFAE4;
    text-decoration: none;
}

header a:hover,
header a:active {
    color: #FFF;
    text-decoration: underline;
}

.wordmark,
header h1,
section h1,
section h2 {
    line-height: 1;
    font-family: "GoudyBookletter1911Regular", serif;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

header h1 {
    font-size: 3em;
    margin: 1em 10px 0.5em;
}

#all {
    width: 960px;
    margin: 0 auto;
}

#main {
    float: left;
    width: 720px;
}

#asides {
    float: left;
    width: 240px;
}

ul.messages {
    width: 640px;
    float: left;
    margin: -0.7em 0 1.4em 0;

    background-color: #FFF;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px;
}

.messages li {
    margin: 0.7em 10px;
    padding: 0 0 0 40px;
    height: 32px;

    list-style-type: none;
    background-image: url(message-32w.png);
    background-position: left top;
    background-repeat: no-repeat;
}

.messages li.warning {
    background-position: left -32px;
}

.messages li.error {
    background-position: left -64px;
}

section {
    float: left;
    width: 320px;
    margin-top: 1px;
    padding-top: 1px;

    border-top: 1px solid #D67353;
}

#about {
    width: 400px;
    font-size: 1.23em;
    font-family: "SortsMillGoudyRegular", serif;
    line-height: 1.4;
}

#about i,
#about em {
    font-family: "SortsMillGoudyItalic", serif;
}

#status {
    font-size: 1.23em;
    color: #D67353;
    font-weight: bold;
}

section h1 {
    font-size: 2em;
    margin: 1em 10px 0.5em;

    color: #D67353;
}

section h2 {
    font-size: 1.44em;
    margin: 1em 10px 0.5em;

    color: #D67353;
}

section p {
    margin: 1.4em 10px;


}

section li {
    margin: 0.7em 10px 0.7em 30px;
}

.story-bin {
    width: 239px;
    min-height: 120px;
    border-right: 1px dotted #D67353;
}

.story-bin li {
    margin: 0.3em 9px 0.4em 10px;
    padding: 0.3em 9px;
    height: 5em;
    overflow: hidden;

    list-style-type: none;
    background: #E9B955;
    border: 1px outset #E9B955;
    border-radius: 0.35em;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 5px;
}
.story-bin li.ui-sortable-helper {
    box-shadow: rgba(0, 0, 0, 0.5) 4px 4px 9px;
}
.story-bin li.ajax-loading {
    background: url(ajax-loading.gif) -4px 4px no-repeat;
    background:  url(ajax-loading.gif) 98% 4px no-repeat, #E9B955;
}

.story-bin b {
    font-size: 2.1em;
    display: block;
    float: left;
    margin:  0 10px 0 0;

    line-height: 1;
    font-weight: 200;
}
.story-bin q {
    display: block;
    font-weight: bolder;
}

.story-bin q::before,
.story-bin q::after {
    content: none;
}

#story-grid th {
    padding: 0 10px;

    text-align: left;
    vertical-align: baseline;
    line-height: 1;
    font-family: "GoudyBookletter1911Regular", serif;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
#story-grid td {
    vertical-align: top;
    text-align: left;
}

form {
    margin: 1.4em 10px;
    padding: 9px;

    background: #007F88;
    border: 1px inset #007F88;
    border-radius: 0.7em;
}

aside li {
    margin: 0.7em 10px;
}