{% extends "board/base.html" %}
{% block title %}{{ bag.name }} - {{ board.owner.username }}/{{ board.name }}{% endblock %}

{% block details-tab %}
<strong>Details</strong>
{% endblock %}

{% block heading %}Values for {{ bag.name }}{% endblock %}

{% block main %}
<section id="detail" class="main">
    <h1>Values for {{ bag.name }}</h1>
    <p>
        Each card can optionally be tagged with one of the following values:
    </p>

    <div>
        {%if allows_rearrange %}
        <form method="POST" action="{% url tag-arrangement bag_id=bag.id %}">
            {% csrf_token %}
            <input name="order" />
            <input name="dropped" />
            <input type="submit" value="Arrange tags" />
        </form>
        {% endif %}

        <ul class="tag-bag">
            {% for tag in bag.tags_sorted %}
            <li id="tag-{{ tag.id }}">
                {{ tag.name }}
            </li>
            {% endfor %}
        </ul>
    </div>

    {% if allows_rearrange %}
    <form method="POST" action="{% url new-tag owner_username=owner.username board_name=board.name bag_name=bag.name %}">
        {% include "board/form-part.html" %}
        <div class="buttons">
            <input type="submit" value="Add tag">
        </div>
    </form>
    {% endif %}
</section>

<section id="hint">
    <p>
        Kanbo uses the term <i>tag</i> to refer to a value used to classify
        cards in Kanbo. Tags an be used as the values for columns or rows in the grid.
    </p>
    <p>
        Tags should have short, symbollic names.
        If the tags correspond to stories or projects that have
        IDs in some other database, use those IDs as the tag names.
    </p>
</section>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script type="text/javascript"src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/board.js"></script>

{% if allows_rearrange %}
<script type="text/javascript">
    $(function () {
        CardGrid.enableRearrange(
            '.tag-bag',
            '{% url tag-arrangement-ajax bag_id=board.id %}');
        $('.tag-bag').parent().append('<p>Drag and drop the tags in the above list to change the order that are shown in on the grid.</p>');
    });
</script>
{% endif %}
{% if messages %}
<script type="text/javascript">
    CardGrid.addCloseButtonToMessages();
</script>
{% endif %}
{% endblock %}
