<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Kanbo{% endblock %}</title>
        <link rel="stylesheet" href="{{ STATIC_URL}}style/base.css" type="text/css">
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="{{ STATIC_URL }}style/favicon.png">
    </head>
    <body class="no-js">
        <header>
            <p id="trail">
                <a href="{% url home %}" class="wordmark">Kanbo</a> <span>></span>
                {% if board %}
                <a href="{% url user-profile owner_username=owner.username %}">{% if owner.id == 1 %}Demonstration boards{% else %}{{ owner.username }}{% endif %}</a>
                <span>></span>
                {% endif %}
                {% block trail %}{% endblock %}
            </p>
            <h1>{% block heading %}KANBOOO{% endblock %}</h1>
        </header>
        <div id="all">
            <div id="main">
                {% block messages %}
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endblock %}
                {% block main %}{% endblock %}
            </div>
            {% block auth %}{% include "hello/auth-part.html" %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>