{% extends "board/base.html" %}
{% block title %}{{ board.label }}{% endblock %}

{% block trail %}
{% endblock %}

{% block main %}
<section id="board">
    <h1>{{ board.label }}</h1>
    <p>Choose a tag to base the grid on:</p>
    <ul class="menu">
        {% for bag in bags %}
        <li>
            <a href="{% url card-grid owner_username=board.owner.username board_name=board.name col_name=bag.name %}">{{ bag.name }}</a>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script type="text/javascript"src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/board.js"></script>
{% endblock %}