{% extends "board/base.html" %}
{% block title %}{{ board.label }}{% endblock %}

{% block trail %}
    <a href="{% url board-list  owner_username=owner.username %}">{{ owner.username }}</a>
    <span>></span>
{% endblock %}

{% block main %}
<section id="board">
    <h1>{{ board.label }}</h1>
    <ul class="menu">
        {% for bag in bags %}
        <li>
            <a href="{% url card-grid owner_username=board.owner.username board_id=board.id col_name=bag.name %}">{{ bag.name }}</a>
        </li>
        {% endfor %}
    </ul>
    <ul id="card-list" class="card-bin">
        {% for card in cards %}
        <li id="card-{{ card.id }}">
            <b>{{ card.id }}</b>
            <q>{{ card.label }}</q>
            {% for tag in card.tag_set.all %}
                <i>{{ tag }}</i>
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
    <form class="rearrangement" action="{% url rearrangement owner_username=board.owner.username board_id=board.id %}" method="post">
        {% csrf_token %}
        <input name="order" id="order" value="{{ order }}" />
        <input type="submit" value="Rearrange" />
    </form>
</section>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script type="text/javascript"src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/board.js"></script>
{% endblock %}