
        {% csrf_token %}
        {% if non_field_errors %}
            {{ non_field_errors }}
        {% endif %}
        {% for field in form %}
            {% if field.is_hidden %}
            {{ field }}
            {% else %}
            <div{% if field.errors %} class="has-errors"{% endif %}>
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                <small>{{ field.help_text }}</small>
                {% endif %}
                {{ field.errors }}
            </div>
            {% endif %}
        {% endfor %}