{% extends "board/base.html" %}
{% block title %}{{ board.label }}{% endblock %}

{% block trail %}
{% endblock %}

{% block main %}
<section id="board">
    <h1>{{ board.label }}</h1>
    <ul class="menu">
        {% if user == owner %}
        <li>
            <a href="{% url new-card owner_username=board.owner.username board_name=board.name col_name=col_name %}">Add cards</a>
        </li>
        {% endif %}
        {% for bag in bags %}
            {% if bag.name != col_name %}
            <li>
                <a href="{% url card-grid  owner_username=board.owner.username board_name=board.name col_name=bag.name %}">{{ bag.name }}</a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
    <table id="card-grid">
        <thead>
            <tr>
                <th>–</th>
                {% for tag in col_tags %}
                <th>{{ tag.name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in grid.rows %}
            <tr>
                {% for bin in row.bins %}
                <td>
                    <form class="rearrangement" action="{% url rearrangement board_id=board.id col_name=col_name %}" method="post">
                        {% csrf_token %}
                        {% for tag in bin.tags %}
                        <input type="hidden" name="tags" value="{{ tag.id }}" />
                        {% endfor %}
                        <input name="order" />
                        <input name="dropped" />
                        <input type="submit" value="Rearrange" />
                    </form>
                    <ul id="{{ bin.element_id }}" class="card-bin" data-ajax-url="{% url rearrangement-ajax board_id=board.id col_name=col_name %}">
                        {% for card in bin.cards %}
                        <li id="card-{{ card.id }}">
                            <b>{{ card.name }}</b>
                            <q>{{ card.label }}</q>
                            {% for tag in card.tag_set.all %}
                                {% if tag.bag.name != col_name %}
                                <i>{{ tag }}</i>
                                {% endif %}
                            {% endfor %}
                        </li>
                        {% endfor %}
                    </ul>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script type="text/javascript"src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/board.js"></script>

{% if is_polling_enabled %}
<script type="text/javascript">
    CardGrid.pollForUpdates('{% url events-ajax board_id=board.id start_seq=next_seq %}');
</script>
{% endif %}
{% endblock %}