{% extends "board/base.html" %}
{% block title %}{{ board.label }}{% endblock %}

{% block trail %}
<a href="{% url board-detail owner_username=owner.username board_name=board.name %}">{{ board.name }}</a> >
{% endblock %}

{% block heading %}
    {{ col_name }} Grid
{% endblock %}

{% block main %}
<section id="board">
    <ul class="menu" id="menu">
        {% if allows_rearrange %}
        <li>
            <a id="new-card-link" href="#new-card-form">New card</a>
        </li>
        {% endif %}
        {% for bag in bags %}
            {% if bag.name != col_name %}
            <li>
                <a href="{% url card-grid  owner_username=board.owner.username board_name=board.name col_name=bag.name %}">{{ bag.name }}</a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
    <table id="card-grid">
        <thead>
            <tr>
                <th>–</th>
                {% for tag in col_tags %}
                <th>{{ tag.name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in grid.rows %}
            <tr>
                {% for bin in row.bins %}
                <td>
                    {% if allows_rearrange %}
                    <form class="card_arrangement" action="{% url card-arrangement board_id=board.id col_name=col_name %}" method="post">
                        {% csrf_token %}
                        {% for tag in bin.tags %}
                        <input type="hidden" name="tags" value="{{ tag.id }}" />
                        {% endfor %}
                        <input name="order" />
                        <input name="dropped" />
                        <input type="submit" value="Rearrange" />
                    </form>
                    {% endif %}
                    <ul id="{{ bin.element_id }}" class="card-bin">
                        {% for card in bin.cards %}
                        <li id="card-{{ card.id }}">
                            {% if allows_rearrange %}
                            <a href="{% url edit-card owner_username=owner.username board_name=board.name col_name=col_name card_name=card.name %}">
                                <b>{{ card.name }}</b>
                                <q>{{ card.label }}</q>
                            </a>
                            {% else %}
                            <b>{{ card.name }}</b>
                            <q>{{ card.label }}</q>
                            {% endif %}
                            {% for tag in card.tag_set.all %}
                                {% if tag.bag.name != col_name %}
                                <i>{{ tag }}</i>
                                {% endif %}
                            {% endfor %}
                        </li>
                        {% endfor %}
                    </ul>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% if allows_rearrange %}
<section id="editor">
    <form id="new-card-form" action="{% url new-card owner_username=owner.username board_name=board.name col_name=col_name %}" method="POST">
        {% with form=new_card_form %}
            {% include "board/form-part.html" %}
            <div class="buttons">
                <input type="submit" value="Create Card">
            </div>
        {% endwith %}
    </form>
</section>
{% endif %}
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script type="text/javascript"src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/board.js"></script>

{% if allows_rearrange %}
<script type="text/javascript">
    $(function () {
        CardGrid.enableRearrange(
            '.card-bin',
            '{% url card-arrangement-ajax board_id=board.id col_name=col_name %}');
        CardGrid.makeNewCardButtonMagic();
    });
</script>
{% endif %}
{% if is_polling_enabled %}
<script type="text/javascript">
    CardGrid.pollForUpdates('{% url events-ajax board_id=board.id start_seq=next_seq %}');
</script>
{% endif %}
{% if messages %}
<script type="text/javascript">
    CardGrid.addCloseButtonToMessages();
</script>
{% endif %}
{% endblock %}