{% extends "board/base.html" %}
{% block title %}{{ board.label }}{% endblock %}

{% block trail %}
    <a href="{% url board-list owner_username=owner.username %}">{{ owner.username }}</a>
    <span>></span>
    <a href="{% url card-grid owner_username=owner.username board_id=board.id col_name=col_name %}">{{ board.label }}</a>
    <span>></span>
{% endblock %}

{% block main %}
<section id="new-card">
    <h1>Add Stories to {{ board.label }}</h1>
    <p>
        Enter one or more cards in to the box, one per line.
    </p>

    {%if user == owner %}
    <form action="{% url create-card owner_username=owner.username board_id=board.id col_name=col_name %}" method="post">
        {% csrf_token %}
        <textarea name="cards">{{ text }}</textarea>
        <input type="submit" value="Add cards" />
    </form>
    {% endif %}
</section>
{% endblock %}
