{% extends "board/base.html" %}
{% block title %}New tag - {{ board.owner.username }}/{{ board.name }}{% endblock %}

{% block details-tab %}
<strong>Details</strong>
{% endblock %}

{% block heading %}New card{% endblock %}

{% block main %}
<section id="new-card" class="main">

    <h1>Values for {{ bag.name }}</h1>
    <p>
        Each card can be tagged with one of the following values:
    </p>

    <div>
        <ul id="tag-list" class="tag-list">
            {% for tag in bag.tags_sorted %}
            <li id="tag-{{ tag.id }}">
                {{ tag.name }}
            </li>
            {% endfor %}
        </ul>
    </div>

    <form method="POST">
        {% include "board/form-part.html" %}
        <div class="buttons">
            <input type="submit" value="Add tag">
            or <a href="{{ bag.get_absolute_url }}">cancel</a>
        </div>
    </form>
</section>
{% include "board/new-tag-hint-part.html" %}

{% endblock %}
