{% extends 'board/popup-base.html' %}
{% block title %}{{ card.name }} - {{ board.name }}{% endblock %}
{% block popup_class %}message{% endblock %}
{% block main %}
            <p>
                Added the card {{ card.name }} to your board {{ board.name }}
                {% if board.name != noard.label %}({{ board.label }}){% endif %}.
            </p>
            <p id="close-me">
                Close this window when you have read this message.
            </p>
{% endblock %}
{% block script %}
<script type="text/javascript">//<[!CDATA[
    $(function () {
        var seconds = 7;
        function updateMsg() {
            if (--seconds < 0) {
                window.close();
            }
            $('#close-me').text('Close this window or wait ' + seconds + ' seconds');
            window.setTimeout(updateMsg, 1000);
        }
        $('#close-me')
            .click(function () {
                window.close();
            })
            .addClass('clickable');
        updateMsg();
    });
//]]></script>
{% endblock %}