{% extends 'board/popup-base.html' %}
{% block title %}New card - {{ board.name }}{% endblock %}
{% block heading %}
            Adding a card to {{ board.name }}
            {% if board.name != noard.label %}({{ board.label }}){% endif %}
{% endblock %}
{% block main %}
            <form method="POST">
                {% include "board/form-part.html" %}
                <div class="buttons">
                    <input type="submit" value="Create Card">
                    or <span class="cancel">close this window</span>
                </div>
            </form>
{% endblock %}
{% block script %}
<script type="text/javascript">//<[!CDATA[
    $(function () {
        $('span.cancel')
            .click(function () {
                window.close();
            })
            .text('Cancel')
            .addClass('clickable');
    });
//]]></script>
{% endblock %}