<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}New card - {{ board.name }}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'style/popups.css' %}" type="text/css">
    </head>
    <body class="{% block popup_class %}form{% endblock %}">
        <h1>
{% block heading %}
            Adding a card to {{ board.name }}
            {% if board.name != noard.label %}({{ board.label }}){% endif %}
{% endblock %}
        </h1>
        <section id="new-card" class="main">
            {% block main %}{% endblock %}
        </section>
    </body>
</html>