{% extends "board/base.html" %}
{% block title %}{{ owner.username }} ({{ owner.get_full_name }}) - Kanbo{% endblock %}

{% block heading %}
    <img src="{{ owner.get_profile.image_url}}" alt="" align="absmiddle">
    {{ owner.username }}
    ({{ owner.get_full_name }})
{% endblock %}

{% block main %}
<section id="user-profile">
    <h2>Profile</h2>
    <p>
        Joined {{ owner.date_joined|date:"j N Y" }}
    </p>
</section>
<section id="user-boards">
    <h2>{{ owner.username }}’s Boards</h2>
    {% if boards %}
    <ul>
        {% for board in boards %}
        <li>
            <a href="{{ board.get_absolute_url }}">{{ board.label }}</a>
        </li>
        {% endfor %}
    </ul>
    {% elif user == owner %}
    <p>
        You do not have any boards of your own yet.
        Maybe this would be a good time to  create one?
    </p>
    {% else %}
    <p>
        {{ owner.username }} does not have any boards yet.
    </p>
    {% endif %}
    {% if user == owner %}
    <p class="hero-link">
        <a href="{% url new-board owner_username=owner.username %}">Create new task board</a>
    </p>
    {% endif %}
</section>
{% endblock %}