{% extends "board/base.html" %}
{% block title %}{{ owner.username }} ({{ owner.get_full_name }}) - Kanbo{% endblock %}
{% block main %}
<section id="user-profile">
    <h1>{{ owner.username }} ({{ owner.get_full_name }})</h1>
    {% if boards %}
    <ul>
        {% for board in boards %}
        <li>
            <a href="{% url board-detail owner_username=board.owner.username board_name=board.name %}">{{ board.label }}</a>
        </li>
        {% endfor %}
    </ul>
    {% elif user == owner %}
    <p>
        You do not have any boards of your own yet.
        Maybe this would be a good time to  create one?
    </p>
    {% else %}
    <p>
        {{ owner.username }} does not have any boards yet.
    </p>
    {% endif %}
    {% if user == owner %}
    <p class="hero-link">
        <a href="{% url board-new owner_username=owner.username %}">Create new task board</a>
    </p>
    {% endif %}
</section>
{% endblock %}